# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

.buildconfig

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
credentials.json
token.json
gitmoo-goog
gitmoo-goog.exe
gitmoo-goog.bz2
gitmoo-goog.zip

# photos that were downloaded 
202*
201*
199*


installer/installer
installer/gitmoo-goog_0.24_amd64.deb
